*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-width: 1060px;
  font-size: 1.8rem; /*상대값은 rem*/
  line-height: 1.6;
  font-family: Roboto, Avenir, sans-serif; /*원하는 글꼴이 없으면 sans-serif에서 아무거나 가져온다 원하는 글꼴을 가져오기 위해서 webfont이용*/
}
a {
  text-decoration: none; /*사이트에 링크들에 쳐져있는 밑줄들 삭제하기 위해*/
}
/*공통 CTA*/
.cta {
  color: white;
  font-weight: 400;
  display: block;
  border-radius: 8px;
  background: #44b78b;
}
.cta:hover {
  background: #51be95;
}
/*HEADER*/
.header {
  background: #0c4b33;
  height: 72px;
  padding: 15px 0 4px; /*top (left, right) bottom*/
}
.container {
  /*container로 감싸야 logo, nav를 한번에 정렬하기 편함*/
  max-width: 1400px;
  margin: 0 auto; /*top right bottom left  가운데 정렬하는 법, 2개의 숫자만 있으면 (상하), (좌우)로 적용, 1개는 전부 동일*/
  padding: 0 20px;
  position: relative;
}
.container-float {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.container-float:after {
  /*이렇게 해주지 않으면 containe-float가 크기를 알지 못해 hero영역까지 침범*/
  display: block;
  content: "";
  clear: both;
}
.logo {
  margin: 0;
  padding-left: inherit; /*logo에 absolute 적용되면서 container에 padding 적용이 안된다 그래서 inherit을 해준다*/
  position: absolute;
  top: 0;
  left: 0;
}
.nav {
  text-align: right;
}
.list {
  margin: 0;
  font-size: 0; /*이거랑*/
}
.list-item {
  font-weight: 700;
  display: inline-block; /*원하지 않는 여백발생*/
  font-size: 1.3rem; /*이거랑 해서 여백 삭제*/
  text-transform: uppercase; /*upper 역할*/
}
.list-item > a {
  color: white;
  display: block;
  padding: 10px;
}
.list-item > a:hover {
  color: #c9f0dd;
}
/*MAIN*/
.hero-section {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid #cfe3dc; /*(두께 모양 색상)웹페이지에 있는 경계선표시*/
}

.intro-desc {
  margin: 40px auto 50px;
  width: 700px;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1.3;
}
.hero-cta {
  width: 300px;
  margin: 0 auto 60px;
  padding: 20px 50px;
}
.main-content {
  float: left;
  width: 70%;
}
.main-title {
  font-weight: 400;
  margin: 40px 0 20px;
  font-size: 3.2rem;
  letter-spacing: -1px; /*글자간 간격*/
}
.main-desc {
  margin: 0;
  font-size: 1.6rem;
}
.mailing-layout {
  padding-top: 10px;
}
.mailing-layout::after {
  /*:는 가상클래스, ::는 가상요소 */
  content: "";
  display: block;
  clear: both;
}
.mailing {
  float: left;
  width: 48%;
}
.mailing:first-child {
  margin-right: 4%;
}
.mailing-title {
  margin: 0 0 20px 0;
  font-size: 1.8rem;
  font-weight: 700;
}
.mailing-title > a {
  color: #20aa76;
}
.mailing-desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.3;
}
.mailing-desc > a {
  color: #20aa76;
}
.mailing-desc > a:hover {
  color: #c9f0dd;
}
.mailing-form {
  margin: 10px 0 30px;
  position: relative; /*absolute가 적용되는 위치 기준이 되는 곳*/
}
.mailing-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  /* display: none;
  visibility: hidden; label요소를 숨김 */
}
input[type="email"] {
  width: 100%; /*button이 아래로 내려가게, emil창과 button이 다른 줄에 위치하게*/
  border: 1px solid #cfe3dc;
  border-radius: 4px;
  height: 5rem;
  padding: 6px 80px 8px 10px; /*아무리 길게 입력을 해도 button과 중첩되지 않는다*/
}
.mailing-form-btn {
  position: absolute;
  top: 30%;
  right: 10px;
  border: 0;
  background: transparent; /*투명*/
  color: #44b78b;
  cursor: pointer; /*button에 마우스를 올리면 모양이 바뀐다*/
}
.side-content {
  float: right;
  width: 30%;
  margin: 0;
  padding: 0 0 30px 20px;
  background: #f8f8f8;
  border-left: 1px solid #cfe3dc;
}
.side-content a:hover {
  color: #25c488;
}
.container-side-cta {
  text-align: center;
}
.cta.side-cta:hover {
  color: white;
}
.side-cta {
  width: 330px;
  padding: 16px 24px;
  margin: 40px auto 0;
}
.side-cta > em {
  font-style: normal;
  color: #c9f0dd;
}
.info-title {
  margin: 3.5rem 0 0 0;
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #cfe3dc;
  padding-bottom: 1rem;
}
.news-article {
  padding: 20px 0;
}
.news-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
}
.news-title > a,
.community-title > a {
  color: #20aa76;
}
.news-desc {
  margin: 1em 0;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #0c3c26;
}
.news-meta {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #859d94;
}
.news-meta > span {
  font-weight: 700;
}
.list-communities {
  padding: 20px 0;
  margin: 0;
}
.community-title {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
}
.community-title:nth-child(n + 2) {
  /*2번째부터 적용 그냥 숫자를 넣으면 그곳만 nth child master참고*/
  margin-top: 14px;
}
.community-desc {
  margin: 10px 0 0 0;
  font-size: 1.4rem;
  line-height: 1.3;
  color: #859d94;
}
.more {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #20aa76;
}
.more::after {
  content: ">";
}
/*FOOTER*/
.footer {
  background: purple;
  clear: both;
}
